.main {
  margin: auto;
  width: 500px;
}
.main,
.display,
.number,
.operator,
.extra,
.equals {
  border: 1px solid black;
}
.display {
  margin: auto;
  background-color: grey;
  height: 10vh;
  font-size: 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.row {
  display: flex;
  justify-content: center;
}

.number,
.operator,
.extra,
.equals {
  width: 120px;
  height: 120px;
  margin: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 15px;
}
.zero {
  flex-grow: 2;
}
.number {
  background-color: antiquewhite;
}
.operator {
  background-color: aliceblue;
}
.extra {
  background-color: beige;
}
