.main {
  margin: auto;
  width: 400px;
}
.key {
  cursor: pointer;
}
.key:hover {
  background-color: darkkhaki;
}
.screen {
  display: flex;
  justify-content: flex-end;
}
.main,
.number,
.operator,
.extra,
.equals,
.dot {
  border: 1px solid black;
}
.screen {
  border-bottom: 1px solid black;
  height: 10vh;
  font-size: 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.row {
  display: flex;
  justify-content: center;
}

.number,
.operator,
.extra,
.equals,
.dot {
  width: 100px;
  height: 100px;
  margin: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 15px;
}
.zero {
  flex-grow: 2;
}
.number,
.dot {
  background-color: antiquewhite;
}
.operator {
  background-color: aliceblue;
}
.extra {
  background-color: beige;
}
